$rob: 'Roboto', sans-serif;
$hee: 'Heebo', sans-serif;
$baseColor: #766dff;
$dip: #222222;
$pfont: #777777; 
$navHeight: 140px;
@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,700,900|Roboto:300,400,500,700');